/* Container principal */
#root {
  max-width: 1400px;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Ajuste para cartões gerais */
.card {
  padding: 1.5rem;
}

/* Texto auxiliar */
.read-the-docs {
  color: var(--color-secondary);
}

/* Responsividade */
@media (max-width: 768px) {
  .app-header {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }
  .app-content {
    padding: 1rem;
  }
}
